{% set orden_id = get_query_param('orden') %}
{% set current_order = get_raffle_order(orden_id) %}

{{ dump(current_order) }}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero consectetur ipsum et earum quod dolores nulla officia necessitatibus laudantium delectus ad iure quas, dolore aperiam culpa illum qui eum!</p>