
@import "tailwindcss"; 

/* Tema personalizado */
@theme {
    --color-dark-bg: #1a1a1a;
    --color-darker-bg: #0f0f0f;
    --font-headings: var(--body-fonts);
    --font-body: var(--body-fonts);
}

.index {
    font-size: 14px;
}

.splide__pagination {
    @apply relative! top-auto! bottom-auto! left-auto! right-auto! my-3!; 
}

.splide__pagination__page.is-active {
    @apply bg-red-600!;
}

.splide__pagination__page {
    @apply w-3.5! h-3.5!;
}

.splide__slide {
    @apply cursor-grab!;
}

/* In your main CSS file, e.g., styles.css */
progress {
  /* General styles */
  @apply rounded-lg;
}

/* WebKit (Chrome, Safari, Edge) background/track */
progress::-webkit-progress-bar {
  @apply bg-gray-200 rounded-lg;
}

/* WebKit (Chrome, Safari, Edge) value/filled bar */
progress::-webkit-progress-value {
  @apply bg-red-600 rounded-lg; /* Change color here */
}

/* Firefox value/filled bar */
progress::-moz-progress-bar {
  @apply bg-red-600 rounded-lg; /* Change color here */
}